@font-face {
  font-family: "Roboto";
  src: url("../font/roboto/Roboto-Regular.eot");
  src: local("☺"), url("../font/roboto/Roboto-Regular.woff2") format("woff2"),
    url("../font/roboto/Roboto-Regular.woff2") format("truetype"),
    url("../font/roboto/Roboto-Regular.woff2") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../font/roboto/Roboto-Medium.eot");
  src: local("☺"), url("../font/roboto/Roboto-Medium.woff2") format("woff2"),
    url("../font/roboto/Roboto-Medium.woff2") format("truetype"),
    url("../font/roboto/Roboto-Medium.woff2") format("svg");
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.wrapper {
  background-color: #e5e5e5;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.header {
  width: 100%;
  height: 900px;
  background-image: url("../images/background-head.png");
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 1232px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.head-title {
  display: flex;
  justify-content: space-between;
  padding-top: 51px;
  align-items: center;
  flex: 1 1 auto;
}

.head-logo {
  justify-content: start;
  width: 50%;
}

.head-logo svg {
  width: 205px;
  height: 40px;
  fill: #3077c6;
}

.head-nav {
  width: 50%;
  display: flex;
  justify-content: end;
  color: #ffffff;
  align-items: center;
}

.head-nav-stays {
  margin-right: 12px;
  font-size: 24px;
  padding-top: 6px;
  padding-bottom: 12px;
  height: 100%;
  position: relative;
  transition: 0.5s;
}

@keyframes line {
  from {
  }
}

.head-nav-stays::after,
.head-nav-attraction::after {
  content: "";
  width: 0;
  height: 4px;
  background-color: #f5bd41;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  transform-origin: left;
}

.head-nav-stays:hover::after,
.head-nav-attraction:hover::after {
  width: calc(100% - 10%);
}

.head-nav-attraction {
  margin-right: 24px;
  margin-left: 12px;
  font-size: 24px;
  padding-top: 6px;
  padding-bottom: 12px;
  position: relative;
  transition: 1s;
}

.head-nav-attraction:hover::after {
  display: block;
}

.head-icon-night {
  padding-top: 5px;
  width: 32px;
  height: 32px;
  fill: #ffffff;
  transition: 0.3s;
}

.head-nav-night,
.head-nav-account {
  margin-left: 24px;
}

.head-icon-account {
  width: 40px;
  height: 40px;
  fill: #ffffff;
  transition: 0.3s;
}

.head-icon-account:hover,
.head-icon-night:hover {
  fill: #f5bd41;
}

.head-caption h1 {
  margin-top: 202px;
  color: #ffffff;
  font-weight: 500;
  font-size: 50px;
}

.head-form {
  padding-top: 100px;
  color: #ffffff;
  width: 100%;
}

.head-form-container {
  display: flex;
  flex-wrap: wrap;
}

.head-form-label-hotel {
  width: 38%;
}

.head-form-label-date {
  width: 61%;
}

label span {
  font-size: 18px;
  padding-left: 24px;
}

input:focus,
select:focus {
  outline: none;
}

.head-input-hotel:hover,
.head-input-amount:hover {
  border-color: #f5bd41;
  border-radius: 8px;
}

.head-input-container {
  width: 100%;
  height: 64px;
  margin-top: 24px;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.head-input-hotel {
  width: 38%;
  height: 58px;
  border: 3px solid #ffffff;
  border-radius: 8px;
  transition: 0.2s;
}

.head-input-hotel input {
  width: 98%;
  height: 92%;
  border: 1px solid #ffffff;
  border-radius: 8px;
}

input::placeholder {
  font-size: 18px;
  padding-left: 24px;
}

.head-input-date {
  width: calc(21% + 4px);
  height: 62px;
  border: 1px solid #cecece;
  border-radius: 8px;
  position: relative;
  transition: 0.2s;
}

.head-input-date:hover {
  border: 3px solid #f5bd41;
  height: 58px;
  width: 21%;
}

input[type="date"] {
  font-size: 18px;
  width: 97%;
  height: 92%;
  position: absolute;
  top: 1px;
  left: 2px;
  border: none;
}

.head-input-amount {
  width: 25%;
  height: 58px;
  border: 3px solid #ffffff;
  border-radius: 8px;
  transition: 0.2s;
}

.head-input-amount select {
  width: 97%;
  height: 92%;
  border: 1px solid #ffffff;
  font-size: 18px;
  text-align: center;
}

.button-head {
  background-color: #3077c6;
  border-radius: 8px;
  width: 15.6%;
}

.btn {
  height: 64px;
  width: 100%;
  background-color: #3077c6;
  color: #ffffff;
  border: 1px solid #3077c6;
  border-radius: 8px;
  font-weight: 500;
  font-size: 24px;
}

.secondary-bnt{
  width: 128px;
  height: 48px;
  border: 1px solid #3077C6;
  background-color: #ffffff;
  border-radius: 8px;
  color: #3077C6;
  font-size: 18px;
}

.app {
  margin-top: 129px;
  display: flex;
  justify-content: center;
}

.app-google {
  margin-right: 8px;
}

.app-google svg {
  width: 135px;
  height: 40px;
}

.app-apple {
  margin-left: 8px;
}

.app-apple svg {
  width: 120px;
  height: 40px;
}

.offer {
  width: 100%;
  max-height: 569px;
  margin: 0 auto;
  background-color: #ffffff;
}

.offer-container {
  max-width: 1232px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.title-container {
  display: flex;
  flex-direction: column;
  height: 189px;
  width: 100%;
  align-items: center;
  position: relative;
}

.caption-block {
  margin-top: 120px;
}

.caption-block h2 {
  font-size: 40px;
  font-weight: 500;
}

.caption-block::after {
  content: "";
  width: 0;
  height: 4px;
  background-color: #f5bd41;
  position: absolute;
  top: 99%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
}

.caption-block:hover:after {
  width: 100px;
}

.colum-offer {
  height: 380px;
}

.colum-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.item-offer {
  padding-top: 80px;
  max-width: 296px;
  width: calc(25% - 8px);
  height: 176px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  margin: 0 4px;
}

.item-text-offer {
  font-size: 24px;
  text-align: center;
}

.item-icon-support svg {
  width: 76px;
  height: 92px;
}

.item-icon-communicate svg {
  width: 84px;
  height: 84px;
}

.item-icon-book svg {
  width: 100px;
  height: 68px;
}

.item-icon-reviews svg {
  width: 92px;
  height: 84px;
}

.guests-loves {
  width: 100%;
  height: 828px;
  background-color: #eaf0f9;
  overflow: hidden;
}

.guests-loves .colum-container{
  margin-top: 80px;
}

.guests-loves-column {
  display: flex;
  flex-direction: column;
  max-width: 296px;
  max-height: 440px;
  width: calc(25% - 8px);
  margin: 0 8px;
}

.guests-loves-item-image {
  width: 100%;
  max-width: 295px;
  max-height: 295px;
  position: relative;
  overflow: hidden;
}

.guests-loves-item-image img {
  width: 100%;
}

.img-text,
.guests-loves-hotel-destination {
  padding-top: 24px;
}

.img-text a,
.best-destination-column-text a {
  font-size: 24px;
  color: #3077c6;
}

.guests-loves-hotel-destination a {
  font-size: 24px;
  color: #bfbfbf;
}

.arrow svg,
.arrow-best-destination svg{
  width: 40px;
  height: 40px;
}

.arrow {
  position: absolute;
  top: 35%;
  left: 100%;
  transform: translate(-50%, -50%) rotate(-90deg);
}

.best-destination {
  width: 100%;
  background-color: #ffffff;
  height: 958px;
  display: flex;
  flex-direction: column;
}

.best-destination-selectors {
  display: flex;
  width: 50%;
  margin-top: 104px;
  background-color: #f3f3f4;
  height: 64px;
  border-radius: 8px;
}

.best-destination-selectors .small-text{
  display: none;
}

.best-destination-selectors-item {
  height: 64px;
  border-radius: 8px;
}

.best-destination-selectors-item .btn:not(:focus) {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);;
  color: #383838;
}

.region,
.cities {
  width: 30%;
}

.place-interest {
  width: 40%;
}

.best-destination-rows-container {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 352px;
  position: relative;
}

.best-destination-column{
  display: flex;
  flex-direction: column;
  margin: 0 8px
}

.best-destination-column-image {
  max-width: 295px;
  position: relative;
}

.best-destination-column-image img{
  width: 100%;
}

.best-destination-column-image::before{
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(56, 56, 56, 0.4);
  opacity: 0;
  transition: 0.5s;
  transition-timing-function: ease-in;
}

.best-destination-column-image button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0.2s;
}

.best-destination-column-image:hover::before,
.best-destination-column-image:hover button{
  opacity: 1;
}

.best-destination-rows-container .colum-container {
  height: 352px;
}

.arrow-best-destination{
  width: 40px;
  height: 40px;
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sign-in {
  width: 100%;
  height: 200px;
  background-color: #ffffff;
}

.sign-in .container {
  width: 100%;
  height: 100%;
  background-color: #EAF0F9;
}

.sign-in-margin {
  margin: 24px;
  display: flex;
}

.sign-in-user {
  align-self: center;
}

.sign-in-user svg {
  height: 86px;
  width: 86px;
}

.sign-in-rows {
  width: 100%;
  margin-left: 24px;
  display: flex;
  flex-direction: column;
}

.sign-in-esc {
  align-self: end;
}

.sign-in-esc svg {
  width: 26px;
  height: 26px;
}

.sign-in-text {
  font-size: 24px;
  font-weight: 500;
}

.sign-in-btn button {
  margin-top: 21px;
}

/* !!!!!!!!!!!!!!!!!!!FOOTER!!!!!!!!!!!!!!!!!*/
.footer {
  width: 100%;
  height: 630px;
  background-color: #10367c;
  margin: 0 auto;
}

.footer-container {
  display: flex;
  flex-direction: column;
  max-width: 1232px;
  width: 100%;
  margin: 0 auto;
}

.footer-icon {
  display: none;
  width: 98px;
  height: 19px;
}

.footer-container-list {
  display: flex;
  width: 100%;
}

.footer-container-list-item {
  margin-top: 120px;
}

.footer-property {
  margin-left: 223px;
}

.footer-support {
  margin-left: 283px;
}

.footer-list {
  color: #ffffff;
  font-size: 20px;
  list-style-type: none;
  line-height: 24px;
}

.footer-list-caption h3 {
  font-weight: 500;
}

.footer-list-item {
  padding-top: 24px;
  font-weight: 400;
}

.footer-copy {
  margin-top: 64px;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}

@media screen and (max-width: 1220px) {
  .footer-container-list {
    justify-content: space-around;
  }

  .footer-property,
  .footer-support {
    margin-left: 0;
  }

  .footer-copy {
    margin-left: 20px;
  }
}
@media screen and (max-width: 768px) {
  .title-container {
    max-height: 80px;
  }

  .caption-block {
    margin-top: 24px;
  }

  .colum-container {
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;
  }

  .guests-loves-column-container{
    flex-wrap: wrap;
  }

  .best-destination{
    height: 600px;
  }

  .arrow{
    top: 10%;
    left: 98%;
  }

  .arrow-best-destination{
    top: 29%;
    left: 94%;
    transform: rotate(-90deg);
  }

  .best-destination-rows-container{
    margin-top: 24px;
  }

  .best-destination .colum-container{
    justify-content: center;
  }

  .guests-loves-column,
  .best-destination-column{
    margin-top: 0;
    width: calc(50% - 16px);
    margin-bottom: 300px;
  }

  .item-offer {
    padding-top: 24px;
    width: calc(50% - 16px);
    height: 140px;
    display: flex;
    margin: 0 8px;
  }

  .best-destination-selectors {
    margin-top: 24px;
  }

  .footer-container-list-item {
    padding: 0 5px;
  }

  .footer-container-list {
    justify-content: space-around;
  }

  .footer-property,
  .footer-support {
    margin-left: 0;
  }
}

@media screen and (max-width: 600px){
  .guests-loves .caption-block,
  .best-destination .caption-block{
    margin-top: 40px;
  }

  .best-destination-selectors{
    margin-top: 32px;
    width: 100%;
    background-color: #ffffff;
    justify-content: space-around;
    height: 32px;
  }

  .best-destination-selectors-item{
    width: 30%;
  }

  .best-destination-selectors-item .btn{
    height: 32px;
    font-size: 19px;
  }

  .best-destination-selectors-item .btn:not(:focus) {
    background-color: #ffffff;
    border-color: #f3f3f4;
    color: #383838;
  }

  .best-destination-selectors .small-text{
    display: inline;
  }

  .best-destination-selectors .big-text{
    display: none;
  }

}

@media screen and (max-width: 480px) {
  .head-caption h1 {
    margin-top: 100px;
  }

  .wrapper {
    min-width: 360px;
    width: 100%;
  }

  .offer {
    width: 100%;
    height: 641px;
    max-height: 641px;
  }

  .container {
    max-width: 328px;
    align-items: center;
  }

  .guests-loves .container,
  .best-destination .container{
    max-width: 360px;
  }

  .caption-block {
    padding-top: 24px;
  }

  .caption-block h2 {
    font-size: 28px;
  }

  .caption-block::after {
    display: none;
  }

  .colum-offer {
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
  }

  .colum-container{
    justify-content: center;
  }

  .item-offer {
    padding-top: 32px;
    max-width: 214px;
    width: 60%;
    height: 104px;
    padding-bottom: 0;
  }

  .colum-item-communicate,
  .colum-item-book {
    height: 96px;
  }

  .item-icon-support svg {
    width: 54px;
    height: 66px;
  }

  .item-icon-communicate svg {
    width: 60px;
    height: 60px;
  }

  .item-icon-book svg {
    width: 70px;
    height: 48px;
  }

  .item-icon-reviews svg {
    width: 66px;
    height: 60px;
  }

  .item-text-offer {
    font-size: 15px;
    font-weight: 400;
  }

  .guests-loves{
    height: 354px;
  }

  .guests-loves .colum-container{
    margin-top: 32px;
  }

  .guests-loves .caption-block,
  .best-destination .caption-block{
    padding: 0;
  }

  .arrow{
    top: 8%;
    left: 96%;
  }

  .arrow,
  .arrow svg,
  .arrow-best-destination,
  .arrow-best-destination svg{
    height: 28px;
    width: 28px;
  }

  .arrow-best-destination{
    top: 18%;
    left: 92%;
  }

  .best-destination-column-image,
  .guests-loves-item-image{
    width: 156px;
    height: 155px;
  }

  .guests-loves-hotel-destination,
  .img-text {
    padding-top: 0;
  }

  .guests-loves-hotel-destination a,
  .img-text a{
    font-size: 12px;
  }

  .best-destination-rows-container .colum-container,
  .guests-loves-column-container {
    justify-content: space-around;
  }

  .best-destination{
    max-height: 379px  ;
  }

  .sign-in{
    display: none;
  }

  .footer {
    width: 100%;
    max-height: 203px;
  }

  .footer-icon {
    display: flex;
    margin-top: 40px;
  }

  .footer-icon svg {
    width: 98px;
    height: 19px;
    fill: #ffffff;
  }

  .footer-container-list-item {
    margin-top: 40px;
  }

  .footer-list-caption {
    font-size: 15px;
    text-decoration: underline;
  }

  .footer-list li:not(:first-child) {
    display: none;
  }

  .footer-copy {
    margin-top: 32px;
    font-size: 12px;
  }
}
