@font-face {
  font-family: "Roboto";
  src: url("../font/roboto/Roboto-Regular.eot");
  src: local("☺"), url("../font/roboto/Roboto-Regular.woff2") format("woff2"),
    url("../font/roboto/Roboto-Regular.woff2") format("truetype"),
    url("../font/roboto/Roboto-Regular.woff2") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../font/roboto/Roboto-Medium.eot");
  src: local("☺"), url("../font/roboto/Roboto-Medium.woff2") format("woff2"),
    url("../font/roboto/Roboto-Medium.woff2") format("truetype"),
    url("../font/roboto/Roboto-Medium.woff2") format("svg");
  font-weight: 500;
  font-style: normal;
}

.wrapper {
  background-color: #e5e5e5;
}
.content {
  max-width: 1440px;
  max-height: 569px;
  margin: 0 auto;
  background-color: #ffffff;
}
.container-support {
}
.title-container {
  display: flex;
  flex-direction: column;
  max-height: 189px;
  width: 100%;
  padding-top: 120px;
  align-items: center;
}
.title {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.line {
  margin-top: 20px;
  border: #f5bd41 2px solid;
  width: 100px;
}
.colum-container {
}
.colum {
  min-height: 380px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.colum-item1 {
  margin-right: 8px;
  margin-left: 104px;
}
.colum-item2 {
  margin-right: 8px;
  margin-left: 8px;
}
.colum-item3 {
  margin-right: 8px;
  margin-left: 8px;
}
.colum-item4 {
  margin-right: 104px;
  margin-left: 8px;
}
.item {
  width: 296px;
  height: 176px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
}
.colum-item1 img {
  padding-top: 1px;
}

.colum-item2 img {
  padding-top: 5px;
}
.colum-item3 img {
  padding-top: 13px;
}
.colum-item4 img {
  padding-top: 2px;
}
.item-text {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
}

/* !!!!!!!!!!!!!!!!!!!FOOTER!!!!!!!!!!!!!!!!!*/
.footer {
  font-family: "Roboto", sans-serif;
  max-width: 1440px;
  height: 630px;
  background-color: #10367c;
  margin: 0 auto;
}
.footer-container {
  display: flex;
}
.footer-about {
  margin-top: 120px;
  margin-left: 104px;
}
.footer-property {
  margin-top: 120px;
  margin-left: 223px;
}
.footer-support {
  margin-top: 120px;
  margin-left: 283px;
}

.footer-list {
  color: #ffffff;
  font-size: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 24px;
}

.footer-list-caption h3 {
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.footer-list-item {
  padding-top: 24px;
  font-weight: normal;
}

.footer-copy {
  margin-left: 103px;
  margin-top: 64px;
  font-weight: normal;
  font-size: 14px;
  color: #ffffff;
}
